/* common-gaps */

/* 1.0.1 append vertical and horizontal */
/* 1.0.0 init base version */

/*region ----- padding ----- */
.padding-0, .padding-none {
	padding: 0;
}

.padding-1 {
	padding: 1px;
}

.padding-2 {
	padding: 2px;
}

.padding-3 {
	padding: 3px;
}

.padding-4 {
	padding: 4px;
}

.padding-5 {
	padding: 5px;
}

.padding-8 {
	padding: 8px;
}

.padding-10 {
	padding: 10px;
}

.padding-15 {
	padding: 15px;
}

.padding-20 {
	padding: 20px;
}

.padding-25 {
	padding: 25px;
}

.padding-30 {
	padding: 30px;
}

.padding-40 {
	padding: 40px;
}

.padding-45 {
	padding: 45px;
}

.padding-50 {
	padding: 50px;
}

.padding-80 {
	padding: 80px;
}

.padding-100 {
	padding: 100px;
}

.padding-150 {
	padding: 150px;
}

.padding-200 {
	padding: 200px;
}

/* ----- endregion ----- */

/*region ----- padding-top ----- */
.padding-top-0, .padding-top-none {
	padding-top: 0;
}

.padding-top-1 {
	padding-top: 1px;
}

.padding-top-2 {
	padding-top: 2px;
}

.padding-top-3 {
	padding-top: 3px;
}

.padding-top-4 {
	padding-top: 4px;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-top-8 {
	padding-top: 8px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-25 {
	padding-top: 25px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-top-40 {
	padding-top: 40px;
}

.padding-top-45 {
	padding-top: 45px;
}

.padding-top-50 {
	padding-top: 50px;
}

.padding-top-80 {
	padding-top: 80px;
}

.padding-top-100 {
	padding-top: 100px;
}

.padding-top-150 {
	padding-top: 150px;
}

.padding-top-200 {
	padding-top: 200px;
}

/* ----- endregion ----- */

/*region ----- padding-right ----- */
.padding-right-0, .padding-right-none {
	padding-right: 0;
}

.padding-right-1 {
	padding-right: 1px;
}

.padding-right-2 {
	padding-right: 2px;
}

.padding-right-3 {
	padding-right: 3px;
}

.padding-right-4 {
	padding-right: 4px;
}

.padding-right-5 {
	padding-right: 5px;
}

.padding-right-8 {
	padding-right: 8px;
}

.padding-right-10 {
	padding-right: 10px;
}

.padding-right-15 {
	padding-right: 15px;
}

.padding-right-20 {
	padding-right: 20px;
}

.padding-right-25 {
	padding-right: 25px;
}

.padding-right-30 {
	padding-right: 30px;
}

.padding-right-40 {
	padding-right: 40px;
}

.padding-right-45 {
	padding-right: 45px;
}

.padding-right-50 {
	padding-right: 50px;
}

.padding-right-80 {
	padding-right: 80px;
}

.padding-right-100 {
	padding-right: 100px;
}

.padding-right-150 {
	padding-right: 150px;
}

.padding-right-200 {
	padding-right: 200px;
}

/* ----- endregion ----- */

/*region ----- padding-bottom ----- */
.padding-bottom-0, .padding-bottom-none {
	padding-bottom: 0;
}

.padding-bottom-1 {
	padding-bottom: 1px;
}

.padding-bottom-2 {
	padding-bottom: 2px;
}

.padding-bottom-3 {
	padding-bottom: 3px;
}

.padding-bottom-4 {
	padding-bottom: 4px;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-bottom-8 {
	padding-bottom: 8px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-25 {
	padding-bottom: 25px;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-bottom-45 {
	padding-bottom: 45px;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.padding-bottom-80 {
	padding-bottom: 80px;
}

.padding-bottom-100 {
	padding-bottom: 100px;
}

.padding-bottom-150 {
	padding-bottom: 150px;
}

.padding-bottom-200 {
	padding-bottom: 200px;
}

/* ----- endregion ----- */

/*region ----- padding-left ----- */
.padding-left-0, .padding-left-none {
	padding-left: 0;
}

.padding-left-1 {
	padding-left: 1px;
}

.padding-left-2 {
	padding-left: 2px;
}

.padding-left-3 {
	padding-left: 3px;
}

.padding-left-4 {
	padding-left: 4px;
}

.padding-left-5 {
	padding-left: 5px;
}

.padding-left-8 {
	padding-left: 8px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-left-20 {
	padding-left: 20px;
}

.padding-left-25 {
	padding-left: 25px;
}

.padding-left-30 {
	padding-left: 30px;
}

.padding-left-40 {
	padding-left: 40px;
}

.padding-left-45 {
	padding-left: 45px;
}

.padding-left-50 {
	padding-left: 50px;
}

.padding-left-80 {
	padding-left: 80px;
}

.padding-left-100 {
	padding-left: 100px;
}

.padding-left-150 {
	padding-left: 150px;
}

.padding-left-200 {
	padding-left: 200px;
}

/* ----- endregion ----- */

/*region ----- padding-horizontal ----- */
.padding-horizontal-0, .padding-horizontal-none {
	padding-left: 0;
	padding-right: 0;
}

.padding-horizontal-1 {
	padding-left: 1px;
	padding-right: 1px;
}

.padding-horizontal-2 {
	padding-left: 2px;
	padding-right: 2px;
}

.padding-horizontal-3 {
	padding-left: 3px;
	padding-right: 3px;
}

.padding-horizontal-4 {
	padding-left: 4px;
	padding-right: 4px;
}

.padding-horizontal-5 {
	padding-left: 5px;
	padding-right: 5px;
}

.padding-horizontal-8 {
	padding-left: 8px;
	padding-right: 8px;
}

.padding-horizontal-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.padding-horizontal-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.padding-horizontal-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.padding-horizontal-25 {
	padding-left: 25px;
	padding-right: 25px;
}

.padding-horizontal-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.padding-horizontal-40 {
	padding-left: 40px;
	padding-right: 40px;
}

.padding-horizontal-45 {
	padding-left: 45px;
	padding-right: 45px;
}

.padding-horizontal-50 {
	padding-left: 50px;
	padding-right: 50px;
}

.padding-horizontal-80 {
	padding-left: 80px;
	padding-right: 80px;
}

.padding-horizontal-100 {
	padding-left: 100px;
	padding-right: 100px;
}

.padding-horizontal-150 {
	padding-left: 150px;
	padding-right: 150px;
}

.padding-horizontal-200 {
	padding-left: 200px;
	padding-right: 200px;
}

/* ----- endregion ----- */

/*region ----- padding-vertical ----- */
.padding-vertical-0, .padding-vertical-none {
	padding-top: 0;
	padding-bottom: 0;
}

.padding-vertical-1 {
	padding-top: 1px;
	padding-bottom: 1px;
}

.padding-vertical-2 {
	padding-top: 2px;
	padding-bottom: 2px;
}

.padding-vertical-3 {
	padding-top: 3px;
	padding-bottom: 3px;
}

.padding-vertical-4 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.padding-vertical-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.padding-vertical-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.padding-vertical-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-vertical-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.padding-vertical-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-vertical-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.padding-vertical-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.padding-vertical-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.padding-vertical-45 {
	padding-top: 45px;
	padding-bottom: 45px;
}

.padding-vertical-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding-vertical-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.padding-vertical-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.padding-vertical-150 {
	padding-top: 150px;
	padding-bottom: 150px;
}

.padding-vertical-200 {
	padding-top: 200px;
	padding-bottom: 200px;
}

/* ----- endregion ----- */

/*region ----- margin ----- */
.margin-0, .margin-none {
	margin: 0;
}

.margin-1 {
	margin: 1px;
}

.margin-2 {
	margin: 2px;
}

.margin-3 {
	margin: 3px;
}

.margin-4 {
	margin: 4px;
}

.margin-5 {
	margin: 5px;
}

.margin-8 {
	margin: 8px;
}

.margin-10 {
	margin: 10px;
}

.margin-15 {
	margin: 15px;
}

.margin-20 {
	margin: 20px;
}

.margin-25 {
	margin: 25px;
}

.margin-30 {
	margin: 30px;
}

.margin-40 {
	margin: 40px;
}

.margin-45 {
	margin: 45px;
}

.margin-50 {
	margin: 50px;
}

.margin-80 {
	margin: 80px;
}

.margin-100 {
	margin: 100px;
}

.margin-150 {
	margin: 150px;
}

.margin-200 {
	margin: 200px;
}

/* ----- endregion ----- */

/*region ----- margin-top ----- */
.margin-top-0, .margin-top-none {
	margin-top: 0;
}

.margin-top-1 {
	margin-top: 1px;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-top-4 {
	margin-top: 4px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-8 {
	margin-top: 8px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-45 {
	margin-top: 45px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-80 {
	margin-top: 80px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-top-150 {
	margin-top: 150px;
}

.margin-top-200 {
	margin-top: 200px;
}

/* ----- endregion ----- */

/*region ----- margin-right ----- */
.margin-right-0, .margin-right-none {
	margin-right: 0;
}

.margin-right-1 {
	margin-right: 1px;
}

.margin-right-2 {
	margin-right: 2px;
}

.margin-right-3 {
	margin-right: 3px;
}

.margin-right-4 {
	margin-right: 4px;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-right-8 {
	margin-right: 8px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-right-15 {
	margin-right: 15px;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-right-25 {
	margin-right: 25px;
}

.margin-right-30 {
	margin-right: 30px;
}

.margin-right-40 {
	margin-right: 40px;
}

.margin-right-45 {
	margin-right: 45px;
}

.margin-right-50 {
	margin-right: 50px;
}

.margin-right-80 {
	margin-right: 80px;
}

.margin-right-100 {
	margin-right: 100px;
}

.margin-right-150 {
	margin-right: 150px;
}

.margin-right-200 {
	margin-right: 200px;
}

/* ----- endregion ----- */

/*region ----- margin-bottom ----- */
.margin-bottom-0, .margin-bottom-none {
	margin-bottom: 0;
}

.margin-bottom-1 {
	margin-bottom: 1px;
}

.margin-bottom-2 {
	margin-bottom: 2px;
}

.margin-bottom-3 {
	margin-bottom: 3px;
}

.margin-bottom-4 {
	margin-bottom: 4px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-8 {
	margin-bottom: 8px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-bottom-45 {
	margin-bottom: 45px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-80 {
	margin-bottom: 80px;
}

.margin-bottom-100 {
	margin-bottom: 100px;
}

.margin-bottom-150 {
	margin-bottom: 150px;
}

.margin-bottom-200 {
	margin-bottom: 200px;
}

/* ----- endregion ----- */

/*region ----- margin-left ----- */
.margin-left-0, .margin-left-none {
	margin-left: 0;
}

.margin-left-1 {
	margin-left: 1px;
}

.margin-left-2 {
	margin-left: 2px;
}

.margin-left-3 {
	margin-left: 3px;
}

.margin-left-4 {
	margin-left: 4px;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-8 {
	margin-left: 8px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-left-25 {
	margin-left: 25px;
}

.margin-left-30 {
	margin-left: 30px;
}

.margin-left-40 {
	margin-left: 40px;
}

.margin-left-45 {
	margin-left: 45px;
}

.margin-left-50 {
	margin-left: 50px;
}

.margin-left-60{
	margin-left: 60px;
}

.margin-left-80 {
	margin-left: 80px;
}

.margin-left-100 {
	margin-left: 100px;
}

.margin-left-150 {
	margin-left: 150px;
}

.margin-left-200 {
	margin-left: 200px;
}

/* ----- endregion ----- */

/*region ----- margin-horizontal ----- */
.margin-horizontal-0, .margin-horizontal-none {
	margin-left: 0;
	margin-right: 0;
}

.margin-horizontal-1 {
	margin-left: 1px;
	margin-right: 1px;
}

.margin-horizontal-2 {
	margin-left: 2px;
	margin-right: 2px;
}

.margin-horizontal-3 {
	margin-left: 3px;
	margin-right: 3px;
}

.margin-horizontal-4 {
	margin-left: 4px;
	margin-right: 4px;
}

.margin-horizontal-5 {
	margin-left: 5px;
	margin-right: 5px;
}

.margin-horizontal-8 {
	margin-left: 8px;
	margin-right: 8px;
}

.margin-horizontal-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.margin-horizontal-15 {
	margin-left: 15px;
	margin-right: 15px;
}

.margin-horizontal-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.margin-horizontal-25 {
	margin-left: 25px;
	margin-right: 25px;
}

.margin-horizontal-30 {
	margin-left: 30px;
	margin-right: 30px;
}

.margin-horizontal-40 {
	margin-left: 40px;
	margin-right: 40px;
}

.margin-horizontal-45 {
	margin-left: 45px;
	margin-right: 45px;
}

.margin-horizontal-50 {
	margin-left: 50px;
	margin-right: 50px;
}

.margin-horizontal-80 {
	margin-left: 80px;
	margin-right: 80px;
}

.margin-horizontal-100 {
	margin-left: 100px;
	margin-right: 100px;
}

.margin-horizontal-150 {
	margin-left: 150px;
	margin-right: 150px;
}

.margin-horizontal-200 {
	margin-left: 200px;
	margin-right: 200px;
}

/* ----- endregion ----- */

/*region ----- margin-vertical ----- */
.margin-vertical-0, .margin-vertical-none {
	margin-top: 0;
	margin-bottom: 0;
}

.margin-vertical-1 {
	margin-top: 1px;
	margin-bottom: 1px;
}

.margin-vertical-2 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.margin-vertical-3 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.margin-vertical-4 {
	margin-top: 4px;
	margin-bottom: 4px;
}

.margin-vertical-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-vertical-8 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.margin-vertical-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-vertical-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.margin-vertical-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-vertical-25 {
	margin-top: 25px;
	margin-bottom: 25px;
}

.margin-vertical-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin-vertical-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.margin-vertical-45 {
	margin-top: 45px;
	margin-bottom: 45px;
}

.margin-vertical-50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.margin-vertical-80 {
	margin-top: 80px;
	margin-bottom: 80px;
}

.margin-vertical-100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

.margin-vertical-150 {
	margin-top: 150px;
	margin-bottom: 150px;
}

.margin-vertical-200 {
	margin-top: 200px;
	margin-bottom: 200px;
}

/* ----- endregion ----- */
