.boxed {
	border: solid 1px #E0E0E0;
	margin-bottom: 20px;
}

.boxed-title {
	margin: 0;
	padding: 10px;
	font-size: 14px;
	border-bottom: solid 1px #E0E0E0;
	background-color: #E7E9ED;
}

.boxed-content {
	padding: 20px;
}

.boxed-control {
	padding: 0px 20px 20px 20px;
	margin-top: -10px;
}

.boxed-content-line {
	font-size: 14px;
	padding-bottom: 6px;
}

.boxed-more {
	font-size: 12px;
	/*text-align: right;*/
}

a {
	color: #0094ff;
}

a:hover {
	color: #FA932C;
}

.justified > * {
	display: table-cell;
	width: 1%;
	text-align: center;
}
